<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5QCH2HHZygkrxdS2i-db3VHsT6PAajSU</string>
	<key>GCM_SENDER_ID</key>
	<string>439372823152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskmaster</string>
	<key>PROJECT_ID</key>
	<string>qarshi-cdcd3</string>
	<key>STORAGE_BUCKET</key>
	<string>qarshi-cdcd3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439372823152:ios:5030f334e84a7cc05b92b5</string>
</dict>
</plist>